body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.commen{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.7;
}
.first-page{
    background-image: url(/img/bg.jpg);
    height: 100%;
    
}
.second-page{
    background-image: url(/img/bg2.jpg);
    height: 80%;
}

.thirth-page{
    background-image: url(/img/bg3.jpg);
    height: 80%;
}

.fourth-page{
    background-image: url(img/bg4.jpg);
    height: 80%;
}

.fifth-page{
    background-image: url(img/bg1.jpg);
    height: 80%;
}

.header{
    font-weight: 400;
    font-size: 3rem;
    font-family: "Lato", sans-serif;
    color: #fff;
    background-color: black;
    
    padding: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    outline: 0.5rem inset purple;
    outline-offset: 0.7rem;
}

.container{
    text-align: center;
    position: relative;
    top: 45%;
}

.option1{
    text-transform: uppercase;
}
.option2{
text-transform: capitalize;
}

.part{
    text-align: center;
    padding: 3rem 4rem;
    line-height: 1.8rem;
    font-family: "Lato", sans-serif;
}

.part-light{
    background-color: rgb(241, 241, 241);
    color: #666;
}

.part-dark{
    background-color: #282e34;
    color: #ddd;

}